*.class
*.log
.DS_Store
test-dumps/
harness-output/
core/target/classes/
core/target/generated-sources/
core/target/maven-archiver/
core/target/maven-status/
core/target/test-classes/
core/target/surefire-reports/
core/target/*-1.7.*.jar
core/target/*-shaded.jar
test-harness/target/classes/
test-harness/target/generated-sources/
test-harness/target/maven-archiver/
test-harness/target/maven-status/
test-harness/target/test-classes/
test-harness/target/surefire-reports/
test-harness/target/*-1.7.*.jar
test-harness/target/*-shaded.jar
oom-watchdog-tests/target/

*.code-workspace
